<div class="container mt-4">
    <div class="alert alert-danger" *ngIf="errorMsg">
        <strong>Sorry !</strong> {{errorMsg}}
      </div>
  <div class="row">
    <div class="col-md-2"></div>
     <div class="col-md-6">
    <h2>Search By Blood Group</h2>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" placeholder="Search By Blood Group" [(ngModel)]="bld_grp" (input)="search()"/>
                
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span> 
                  </button>
               
            </div>
        </div>
    </div>
</div>
<br><i class="fas fa-search"></i>
<div class="row mt-4">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Comapny</th>
              <th scope="col">Name</th>
              <th scope="col">Lname</th>
              <th scope="col">Location</th>
              <th scope="col">Email</th>
              <th scope="col">Contact</th>
              <th scope="col">Blood Group</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of employeeList;let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{employee.cname}}</td>
              <td>{{employee.fname}}</td>
              <td>{{employee.lname}}</td>
              <td>{{employee.location}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.mobile}}</td>
              <td>{{employee.bld_grp}}</td>
              <td><button type="button" class="btn btn-success" (click)="sendTextMsg(employee.mobile)">Contact</button></td>
            </tr>
        
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)="sendMailMsg(bld_grp)">Send request to all employees</button>
  </div>
  <div class="col-md-2"></div>
</div>
</div>


