
<div class="container mt-4">
    <h2 style="text-align:center">Tell us about yourself</h2>
   <div class="row">
        
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <form [formGroup]="addVisitorForm">
      <div class="form-group">
        <label for="cname">First Name</label>
        <input type="text" class="form-control"  placeholder="Enter First Name" formControlName="fname">
      </div>

      <div class="form-group">
          <label for="cname">Last Name</label>
          <input type="text" class="form-control"  placeholder="Enter Last Name" formControlName="lname">
        </div>
  
      <div class="form-group">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
        </div>
  
        <div class="form-group">
          <label for="Phone">Phone</label>
         <input type="number" class="form-control"  placeholder="Enter Contact Number" formControlName="mobile">
        </div>
  
      <div class="form-group">
        <label for="reason">Reason</label>
        <textarea type="text" rows="3" class="form-control"  placeholder="Enter Reason" formControlName="reason"></textarea>
      </div>
      <button type="button" class="btn btn-primary btn-block" (click)="saveVisitor()">Submit</button>
    </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>

