
<div class="container mt-4">
  <h2 style="text-align:center">Add Company</h2>
  <div class="row mt-4">
      <div class="col-md-2"></div>
      <div class="col-md-8">
  <form [formGroup]="addCompanyForm">
    <div class="form-group">
      <label for="cname">Companay</label>
      <input type="text" class="form-control"  placeholder="Enter company" formControlName="cname">
    </div>

    <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      </div>

      <div class="form-group">
        <label for="Phone">Phone</label>
       <input type="number" class="form-control"  placeholder="Enter Contact Number" formControlName="phone">
      </div>

    <div class="form-group">
      <label for="ceo">C E O</label>
      <input type="text" class="form-control"  placeholder="Enter CEO name" formControlName="ceo">
    </div>
    <button type="button" class="btn btn-primary btn-block" (click)="saveCompany()">Submit</button>
  </form>
  </div>
  <div class="col-md-2"></div>
</div>