
  <div class="row " style="padding-top:140px">
      <div class="col-md-4"></div>
      <div class="col-md-8">
  <form [formGroup]="checkVisitorForm">
    
    <div class="row">
        <div class="col-md-2" style="padding-right:45px;font-family: serif;"><strong>I Am </strong></div>

        <div class="col-md-6">
        
        <div class="form-group">
         
            <select class="form-control" formControlName="visitor_id" >
                <option *ngFor="let visitor of visitorReason" [value]='visitor.id'>{{visitor.rname}}</option>
             </select>
        </div>
    </div>

 
    </div>

      
    <button type="button" class="btn btn-primary btn-block col-md-8" (click)="checkVisitor()">Submit</button>
  </form>
  </div>
  <div class="col-md-2"></div>
</div>