<div class="container mt-4">
    <button type="button" class="btn btn-primary" style="float: right;" routerLink="add-company">Add Compaany</button>
  <br>
  <div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Comapny</th>
                <th scope="col">C.E.O</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let company of companiesList;let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{company.cname}}</td>
                <td>{{company.ceo}}</td>
                <td>{{company.email}}</td>
                <td>{{company.phone}}</td>
             
                
                <td></td>
              </tr>
             
            </tbody>
          </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


