<div class="container mt-4">
    <div class="alert alert-danger" *ngIf="errorMsg">
        <strong>Sorry !</strong> {{errorMsg}}
      </div>
  <div class="row">
    <div class="col-md-2"></div>
     <div class="col-md-6">
    <h2>Who are you visiting</h2><br>
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" placeholder="Please enter name you want to meet" [(ngModel)]="fname" (input)="search()"/>
                
                  <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span> 
                  </button>
               
            </div>
        </div>
    </div>
</div>
<br><i class="fas fa-search"></i>
<div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-danger" *ngIf="alertMsg">
            <strong>Sorry !</strong> {{alertMsg}}
          </div>
        <!-- <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Comapny</th>
                <th scope="col">Name</th>
                <th scope="col">Lname</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employeeList;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{employee.cname}}</td>
                <td>{{employee.fname}}</td>
                <td>{{employee.lname}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.mobile}}</td>
             
                <td></td>
              </tr>
          
            </tbody>
          </table> -->



          <ul *ngIf="fname">
              <li *ngFor="let employee of employeeList;let i = index">
                <div class="row">
<div class="col-md-4">
    <div class="container">
 
        <div class="card" style="width:300px">
          <img class="card-img-top" src="./assets/img_avatar.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">{{employee.cname}}</h4>
            <p class="card-title"><strong>{{employee.fname}} {{employee.lname}}</strong></p>
            <p class="card-title">{{employee.mobile}}</p>
            <a href="#" class="btn btn-primary" (click)="sendMailMsg(fname)">Contact</a>
          </div>
        </div>
        <br>
        
        
      
      </div>
</div>
              </div>
            </li>
            </ul>




    </div>
    <div class="col-md-2"></div>
  </div>
</div>


