<div class="container mt-4">
    <button type="button" class="btn btn-primary" style="float: right;" routerLink="add-employee">Add Employee</button>
  <br>
  <div class="row mt-4">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Comapny</th>
                <th scope="col">Name</th>
                <th scope="col">Lname</th>
                <th scope="col">Location</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employeeList;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{employee.cname}}</td>
                <td>{{employee.fname}}</td>
                <td>{{employee.lname}}</td>
                <td>{{employee.location}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.mobile}}</td>
             
                <td></td>
              </tr>
          
            </tbody>
          </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>


