
<div class="container mt-4">
    <div class="alert alert-success" *ngIf="respMsg">
        <strong>{{respMsg}} </strong> 
      </div>

      <div class="alert alert-danger" *ngIf="errMsg">
          <strong>{{errMsg}} </strong> 
        </div>
    <h2 style="text-align:center">Details</h2>
   <div class="row">
        
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <form [formGroup]="addDeliveryForm">
      <div class="form-group">
        <label for="cname">Name</label>
        <input type="text" class="form-control"  placeholder="Enter Name" formControlName="fname">
      </div>

      <div class="form-group">
          <label for="email">Customer Email </label>
          <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email">
        </div>
  
        <div class="form-group">
          <label for="Phone">Customer Phone</label>
         <input type="number" class="form-control"  placeholder="Enter Contact Number" formControlName="mobile">
        </div>
  
      <!-- <div class="form-group">
        <label for="reason">Company</label>
        <select class="form-control" formControlName="del_id_fk">
          <option *ngFor="let company of deliveryCompanies" [value]="company.id">{{company.cname}}</option>
        </select>
      </div> -->


      <div class="form-group">
          <label for="cname">Companay</label>
          <select class="form-control" formControlName="del_id_fk">
            <option *ngFor="let company of deliveryCompanies" [value]='company.id'>{{company.cname}}</option>
         </select>
        </div>
      <button type="button" class="btn btn-primary btn-block" (click)="saveVisitor()">Submit</button>
    </form>
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>

