
<div class="container mt-4">
  <h2 style="text-align:center">Log In</h2>
  <div class="row mt-4">
      <div class="col-md-2"></div>
      <div class="col-md-8">
  <form [formGroup]="logInForm">
  
    <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
      </div>

      <div class="form-group">
        <label for="Phone">Password</label>
       <input type="password" class="form-control"  placeholder="Enter Password" formControlName="password">
      </div>

  
    <button type="button" class="btn btn-primary btn-block" (click)="saveCompany()">Log In</button>
  </form>
  </div>
  <div class="col-md-2"></div>
</div>