
<div class="container mt-4">
    <h2 style="text-align:center">Add Company</h2>
    <div class="row mt-4">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <form [formGroup]="addEmployeeForm">
      <div class="form-group">
        <label for="cname">Companay</label>
        <select class="form-control" formControlName="c_id_fk">
          <option *ngFor="let company of companyList" [value]='company.id'>{{company.cname}}</option>
       </select>
      </div>

      <div class="row">
          <div class="col-md-6">
      <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" class="form-control"  placeholder="Enter first name" formControlName="fname">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control"  placeholder="Enter last name" formControlName="lname">
          </div>
          </div>
          </div>

          <div class="form-group">
              <label for="email">Email </label>
              <input type="email" class="form-control" id="email" placeholder="Enter email  xyz@gmail.com" formControlName="email">
            </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                 <label for="dob">Date Of Birth</label>
                 <input type="date" class="form-control"  placeholder="Select birth date" formControlName="dob">
                </div> 
             </div>

            <div class="col-md-6">
            <div class="form-group">
                <label for="bld_grp">Date Of Birth</label>
                <input type="text" class="form-control"  placeholder="Enter Blood group" formControlName="bld_grp">
              </div>  
             </div>
              </div>
  
              <div class="row">
                  <div class="col-md-6">
              <div class="form-group">
                  <label for="location">Location</label>
                  <input type="text" class="form-control"  placeholder="Enter location" formControlName="location">
                </div> 
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label for="pincode">Pincode</label>
                    <input type="text" class="form-control"  placeholder="Enter pincode" formControlName="pincode">
                  </div>
                </div>
              </div>


              <div class="row">
                  <div class="col-md-6">
   
      
        <div class="form-group">
            <label for="cname">Gender</label>
            <select class="form-control" formControlName="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
           </select>
          </div>
      </div>
  
        <div class="col-md-6">
        <div class="form-group">
          <label for="Phone">Phone</label>
         <input type="number" class="form-control"  placeholder="Enter Contact Number" formControlName="mobile">
        </div>
      </div>
      </div>
  
        
      <button type="button" class="btn btn-primary btn-block" (click)="saveEmployee()">Submit</button>
    </form>
    </div>
    <div class="col-md-2"></div>
  </div>