
<div class="row mt-4">

  <div class="col-md-2"></div>
  <div class="col-md-8">
  <div class="card-deck ">
    <div class="card hvr-grow">
    
      <div class="card-body pointer" >
          <h4 style="text-align:center" routerLink="view-companies">Employees</h4>
      </div>
   
    </div>
    <div class="card hvr-grow">
    
      <div class="card-body pointer">
          <h4 style="text-align:center" routerLink="">View Visitors</h4>
      </div>
  
    </div>
    <div class="card ">
    
      <div class="card-body pointer">
        <h4 style="text-align:center" routerLink="">Invite</h4>
      </div>
  
    </div>
  </div>
  </div>
  <div class="col-md-2"></div>
  </div>